@page {
    margin: 0.5in;
    size: letter landscape;
    margin: 0.25in;
}

@media print {
    body {
        font-size: 9pt;
    }


    h1 {
        margin-top: 0;
        margin-bottom: 0in;
    }

    ul, ol{
        break-before: avoid;
        break-inside: avoid;
    }

    #directions, #notes, #sources {
        break-inside: avoid;
    }
}
