@page {
    margin: 0.2in;
    size: letter portrait;
}

@media print {
    body {
        font-size: 9pt;
    }

    #title {
        border: 0;
        break-after: avoid;
        margin: 0;
        padding: 0;
    }

    h1 {
        align-self: start;
        margin-top: 0;
        margin-bottom: 2px;
        padding: 0;
    }

    #left-column, #right-column {
        break-before: avoid;
    }

    #directions, #notes, #sources {
        break-inside: avoid;
    }

    ul, ol{
        break-before: avoid;
        break-inside: avoid;
    }
}
